<a href="https://colab.research.google.com/github/payalkutana/python-pandas/blob/main/Advance_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Reference : https://towardsdatascience.com/learn-advanced-features-for-pythons-main-data-analysis-library-in-20-minutes-d0eedd90d086


from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))

In [5]:
import pandas as pd
import numpy as np

invoices = pd.read_csv('https://raw.githubusercontent.com/payalkutana/python-pandas/main/invoices1.csv')
#print(invoices)
invoices.dtypes

#sample() used to generate a sample random from the function caller dataFrame
invoices.sample(5)

            Order Id        Date  ... Type of Meal Heroes Adjustment
46  AX56I4Q2LLODK7MW  2017-09-27  ...    Breakfast             False
45  6ODHUV6OBRPAUYTX  2015-07-11  ...       Dinner             False
1   97OX39BGVMHODLJM  2018-09-27  ...       Dinner             False
2   041ORQM5OIHTIU6L  2014-08-24  ...        Lunch             False
26  6P91QRADC2O9WOVT  2016-09-25  ...    Breakfast             False

[5 rows x 9 columns]

# **Data Types and Conversion**

In [ ]:
invoices.dtypes

Order Id              object
Date                  object
Meal Id               object
Company Id            object
Date of Meal          object
Participants          object
Meal Price           float64
Type of Meal          object
Heroes Adjustment       bool
dtype: object

In [ ]:
#Conerting datatype using -> astype

invoices['Type of Meal']=invoices['Type of Meal'].astype('category')
invoices['Date'] = invoices['Date'].astype('datetime64')
invoices['Meal Price'] = invoices['Meal Price'].astype('int')

invoices.dtypes

Order Id                     object
Date                 datetime64[ns]
Meal Id                      object
Company Id                   object
Date of Meal                 object
Participants                 object
Meal Price                    int64
Type of Meal               category
Heroes Adjustment              bool
dtype: object

In [ ]:
#Converting datatype using conversion helper function -> pd.to_<some_type>

#pd.to_numeric()

invoices.loc[45,'Meal Price'] = 'I am causing trouble'
invoices.loc[35,'Meal Price'] = 'Me too'

invoices.dtypes
invoices['Meal Price'].apply(lambda x: type(x)).value_counts()

<class 'int'>    49
<class 'str'>     2
Name: Meal Price, dtype: int64

In [ ]:
invoices['Meal Price'][invoices['Meal Price'].apply(
  lambda x: isinstance(x,str)
)]

35                  Me too
45    I am causing trouble
Name: Meal Price, dtype: object

In [ ]:
invoices['Meal Price'].astype(int) #Because there is no obvious way to convert the string into an integer

ValueError: ignored

In [ ]:
# convert the offending values into np.nan
invoices['Meal Price'] = pd.to_numeric(invoices['Meal Price'],errors='coerce')

In [ ]:
# fill np.nan with the median of the data
invoices['Meal Price'] = invoices['Meal Price'].fillna(invoices['Meal Price'].median())

In [ ]:
# convert the column into integer
invoices['Meal Price'].astype(int)

0     469
1      22
2     314
3     438
4     690
5     181
6      14
7     320
8     697
9     451
10    263
11    210
12    755
13    469
14    502
15    829
16    708
17    475
18     27
19    672
20    552
21    191
22    471
23    588
24     98
25    516
26    664
27    323
28    415
29     71
30    400
31    633
32    408
33    326
34    596
35    408
36    749
37    325
38    478
39     44
40    468
41    372
42    443
43    341
44    104
45    408
46    159
47    232
48    134
49    298
50    386
Name: Meal Price, dtype: int64

In [ ]:
# pd.to_datetime()    -> method converts a string into a datetime format

print(pd.to_datetime('2019-8-1'))
print(pd.to_datetime('2019/8/1'))
print(pd.to_datetime('8/1/2019'))
print(pd.to_datetime('Aug, 1 2019'))
print(pd.to_datetime('Aug - 1 2019'))
print(pd.to_datetime('August - 1 2019'))
print(pd.to_datetime('2019, August - 1'))
print(pd.to_datetime('20190108'))

2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-08-01 00:00:00
2019-01-08 00:00:00

In [ ]:
#exact=False Pandas tries to match the pattern anywhere in the date string

print(pd.to_datetime('yolo 20190108', format='%Y%d%m', exact=False))

2019-08-01 00:00:00

In [ ]:
invoices['Date of Meal'] = pd.to_datetime(invoices['Date of Meal'], utc=True)

invoices.dtypes

Order Id                          object
Date                      datetime64[ns]
Meal Id                           object
Company Id                        object
Date of Meal         datetime64[ns, UTC]
Participants                      object
Meal Price                       float64
Type of Meal                    category
Heroes Adjustment                   bool
dtype: object

## **Accessor methods for certain data types**

1.dt

2.str

3.cat

**Accessor-dt**

In [ ]:
#date (returns the date of the datetime value)

invoices['Date of Meal'].dt.date

0     2016-05-31
1     2018-10-01
2     2014-08-23
3     2014-04-07
4     2015-07-27
5     2014-07-17
6     2014-04-30
7     2014-05-07
8     2015-05-18
9     2016-01-14
10    2016-10-01
11    2018-07-27
12    2016-12-13
13    2017-09-14
14    2016-09-03
15    2018-12-20
16    2017-05-24
17    2018-06-15
18    2017-10-22
19    2017-01-23
20    2014-08-27
21    2017-07-13
22    2017-03-25
23    2015-01-06
24    2014-08-09
25    2016-06-09
26    2016-09-26
27    2014-02-01
28    2018-01-19
29    2014-09-26
30    2015-01-21
31    2016-06-07
32    2016-05-14
33    2018-02-12
34    2018-10-16
35    2015-08-20
36    2015-01-07
37    2015-08-15
38    2014-11-21
39    2015-08-18
40    2016-12-12
41    2017-02-18
42    2018-03-30
43    2017-01-11
44    2017-08-23
45    2015-07-07
46    2017-09-29
47    2014-04-06
48    2016-11-01
49    2018-10-15
50    2015-06-27
Name: Date of Meal, dtype: object

In [ ]:
#weekday_name (returns the name of the day) 
invoices['Date of Meal'].dt.weekday_name

AttributeError: ignored

In [ ]:
#month_name() (called with the parenthesis)
invoices['Date of Meal'].dt.month_name()

0           May
1       October
2        August
3         April
4          July
5          July
6         April
7           May
8           May
9       January
10      October
11         July
12     December
13    September
14    September
15     December
16          May
17         June
18      October
19      January
20       August
21         July
22        March
23      January
24       August
25         June
26    September
27     February
28      January
29    September
30      January
31         June
32          May
33     February
34      October
35       August
36      January
37       August
38     November
39       August
40     December
41     February
42        March
43      January
44       August
45         July
46    September
47        April
48     November
49      October
50         June
Name: Date of Meal, dtype: object

In [ ]:
invoices['Date of Meal'].dt.days_in_month

0     31
1     31
2     31
3     30
4     31
5     31
6     30
7     31
8     31
9     31
10    31
11    31
12    31
13    30
14    30
15    31
16    31
17    30
18    31
19    31
20    31
21    31
22    31
23    31
24    31
25    30
26    30
27    28
28    31
29    30
30    31
31    30
32    31
33    28
34    31
35    31
36    31
37    31
38    30
39    31
40    31
41    28
42    31
43    31
44    31
45    31
46    30
47    30
48    30
49    31
50    30
Name: Date of Meal, dtype: int64

In [ ]:
#EXAMPLES: (same logic applies for nanosecond, microsecond, second, minute, hour)

invoices['Date of Meal'].dt.day

0     31
1      1
2     23
3      7
4     27
5     17
6     30
7      7
8     18
9     14
10     1
11    27
12    13
13    14
14     3
15    20
16    24
17    15
18    22
19    23
20    27
21    13
22    25
23     6
24     9
25     9
26    26
27     1
28    19
29    26
30    21
31     7
32    14
33    12
34    16
35    20
36     7
37    15
38    21
39    18
40    12
41    18
42    30
43    11
44    23
45     7
46    29
47     6
48     1
49    15
50    27
Name: Date of Meal, dtype: int64

In [ ]:
invoices['Date of Meal'].dt.month

0      5
1     10
2      8
3      4
4      7
5      7
6      4
7      5
8      5
9      1
10    10
11     7
12    12
13     9
14     9
15    12
16     5
17     6
18    10
19     1
20     8
21     7
22     3
23     1
24     8
25     6
26     9
27     2
28     1
29     9
30     1
31     6
32     5
33     2
34    10
35     8
36     1
37     8
38    11
39     8
40    12
41     2
42     3
43     1
44     8
45     7
46     9
47     4
48    11
49    10
50     6
Name: Date of Meal, dtype: int64

In [ ]:
invoices['Date of Meal'].dt.year

0     2016
1     2018
2     2014
3     2014
4     2015
5     2014
6     2014
7     2014
8     2015
9     2016
10    2016
11    2018
12    2016
13    2017
14    2016
15    2018
16    2017
17    2018
18    2017
19    2017
20    2014
21    2017
22    2017
23    2015
24    2014
25    2016
26    2016
27    2014
28    2018
29    2014
30    2015
31    2016
32    2016
33    2018
34    2018
35    2015
36    2015
37    2015
38    2014
39    2015
40    2016
41    2017
42    2018
43    2017
44    2017
45    2015
46    2017
47    2014
48    2016
49    2018
50    2015
Name: Date of Meal, dtype: int64

In [ ]:
invoices['Date of Meal'].dt.quarter

0     2
1     4
2     3
3     2
4     3
5     3
6     2
7     2
8     2
9     1
10    4
11    3
12    4
13    3
14    3
15    4
16    2
17    2
18    4
19    1
20    3
21    3
22    1
23    1
24    3
25    2
26    3
27    1
28    1
29    3
30    1
31    2
32    2
33    1
34    4
35    3
36    1
37    3
38    4
39    3
40    4
41    1
42    1
43    1
44    3
45    3
46    3
47    2
48    4
49    4
50    2
Name: Date of Meal, dtype: int64

In [ ]:
#is_leap_year, is_month_start, is_month_end, is_quarter_start, is_quarter_end, is_year_start, 
#is_year_end returns True or False respectively for each value

invoices['Date of Meal'].dt.is_month_end

0      True
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
Name: Date of Meal, dtype: bool

In [ ]:
# We can use the results to filter our data down to only rows, where Date of Meal is at the month's end.
invoices[invoices['Date of Meal'].dt.is_month_end]

           Order Id       Date  ... Type of Meal Heroes Adjustment
0  839FKFW2LLX4LMBB 2016-05-27  ...    Breakfast             False
6  2DDN2LHS7G85GKPQ 2014-04-29  ...       Dinner             False

[2 rows x 9 columns]

In [37]:
# to_pydatetime(), which converts the Pandas datetime into a regular Python datetime format
invoices['Date of Meal'].dt.to_pydatetime()

array([datetime.datetime(2016, 5, 31, 5, 0, tzinfo=<UTC>),
       datetime.datetime(2018, 10, 1, 18, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 8, 23, 12, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 4, 7, 19, 0, tzinfo=<UTC>),
       datetime.datetime(2015, 7, 27, 12, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 7, 17, 18, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 4, 30, 19, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 5, 7, 7, 0, tzinfo=<UTC>),
       datetime.datetime(2015, 5, 18, 11, 0, tzinfo=<UTC>),
       datetime.datetime(2016, 1, 14, 21, 0, tzinfo=<UTC>),
       datetime.datetime(2016, 10, 1, 20, 0, tzinfo=<UTC>),
       datetime.datetime(2018, 7, 27, 6, 0, tzinfo=<UTC>),
       datetime.datetime(2016, 12, 13, 7, 0, tzinfo=<UTC>),
       datetime.datetime(2017, 9, 14, 11, 0, tzinfo=<UTC>),
       datetime.datetime(2016, 9, 3, 12, 0, tzinfo=<UTC>),
       datetime.datetime(2018, 12, 20, 11, 0, tzinfo=<UTC>),
       datetime.datetime(2017, 5, 24, 20, 0, tzinfo=<UTC>),
       datetime.datetime(2018, 6, 15, 5, 0, tzinfo=<UTC>),
       datetime.datetime(2017, 10, 22, 12, 0, tzinfo=<UTC>),
       datetime.datetime(2017, 1, 23, 12, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 8, 27, 10, 0, tzinfo=<UTC>),
       datetime.datetime(2017, 7, 13, 6, 0, tzinfo=<UTC>),
       datetime.datetime(2017, 3, 25, 6, 0, tzinfo=<UTC>),
       datetime.datetime(2015, 1, 6, 21, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 8, 9, 10, 0, tzinfo=<UTC>),
       datetime.datetime(2016, 6, 9, 6, 0, tzinfo=<UTC>),
       datetime.datetime(2016, 9, 26, 5, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 2, 1, 7, 0, tzinfo=<UTC>),
       datetime.datetime(2018, 1, 19, 12, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 9, 26, 18, 0, tzinfo=<UTC>),
       datetime.datetime(2015, 1, 21, 7, 0, tzinfo=<UTC>),
       datetime.datetime(2016, 6, 7, 20, 0, tzinfo=<UTC>),
       datetime.datetime(2016, 5, 14, 10, 0, tzinfo=<UTC>),
       datetime.datetime(2018, 2, 12, 19, 0, tzinfo=<UTC>),
       datetime.datetime(2018, 10, 16, 10, 0, tzinfo=<UTC>),
       datetime.datetime(2015, 8, 20, 7, 0, tzinfo=<UTC>),
       datetime.datetime(2015, 1, 7, 6, 0, tzinfo=<UTC>),
       datetime.datetime(2015, 8, 15, 7, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 11, 21, 20, 0, tzinfo=<UTC>),
       datetime.datetime(2015, 8, 18, 6, 0, tzinfo=<UTC>),
       datetime.datetime(2016, 12, 12, 12, 0, tzinfo=<UTC>),
       datetime.datetime(2017, 2, 18, 12, 0, tzinfo=<UTC>),
       datetime.datetime(2018, 3, 30, 10, 0, tzinfo=<UTC>),
       datetime.datetime(2017, 1, 11, 7, 0, tzinfo=<UTC>),
       datetime.datetime(2017, 8, 23, 19, 0, tzinfo=<UTC>),
       datetime.datetime(2015, 7, 7, 18, 0, tzinfo=<UTC>),
       datetime.datetime(2017, 9, 29, 6, 0, tzinfo=<UTC>),
       datetime.datetime(2014, 4, 6, 5, 0, tzinfo=<UTC>),
       datetime.datetime(2016, 11, 1, 19, 0, tzinfo=<UTC>),
       datetime.datetime(2018, 10, 15, 12, 0, tzinfo=<UTC>),
       datetime.datetime(2015, 6, 27, 7, 0, tzinfo=<UTC>)], dtype=object)

In [39]:
# to_period(<PERIOD>) [available periods are W, M, Q, and Y], which converts the dates into periods.
invoices['Date of Meal'].dt.to_period('W')

/usr/local/lib/python3.6/dist-packages/pandas/core/arrays/datetimes.py:1092: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,

0     2016-05-30/2016-06-05
1     2018-10-01/2018-10-07
2     2014-08-18/2014-08-24
3     2014-04-07/2014-04-13
4     2015-07-27/2015-08-02
5     2014-07-14/2014-07-20
6     2014-04-28/2014-05-04
7     2014-05-05/2014-05-11
8     2015-05-18/2015-05-24
9     2016-01-11/2016-01-17
10    2016-09-26/2016-10-02
11    2018-07-23/2018-07-29
12    2016-12-12/2016-12-18
13    2017-09-11/2017-09-17
14    2016-08-29/2016-09-04
15    2018-12-17/2018-12-23
16    2017-05-22/2017-05-28
17    2018-06-11/2018-06-17
18    2017-10-16/2017-10-22
19    2017-01-23/2017-01-29
20    2014-08-25/2014-08-31
21    2017-07-10/2017-07-16
22    2017-03-20/2017-03-26
23    2015-01-05/2015-01-11
24    2014-08-04/2014-08-10
25    2016-06-06/2016-06-12
26    2016-09-26/2016-10-02
27    2014-01-27/2014-02-02
28    2018-01-15/2018-01-21
29    2014-09-22/2014-09-28
30    2015-01-19/2015-01-25
31    2016-06-06/2016-06-12
32    2016-05-09/2016-05-15
33    2018-02-12/2018-02-18
34    2018-10-15/2018-10-21
35    2015-08-17/2015-08-23
36    2015-01-05/2015-01-11
37    2015-08-10/2015-08-16
38    2014-11-17/2014-11-23
39    2015-08-17/2015-08-23
40    2016-12-12/2016-12-18
41    2017-02-13/2017-02-19
42    2018-03-26/2018-04-01
43    2017-01-09/2017-01-15
44    2017-08-21/2017-08-27
45    2015-07-06/2015-07-12
46    2017-09-25/2017-10-01
47    2014-03-31/2014-04-06
48    2016-10-31/2016-11-06
49    2018-10-15/2018-10-21
50    2015-06-22/2015-06-28
Name: Date of Meal, dtype: period[W-SUN]

## **Accessor-str**

In [40]:
invoices['Type of Meal'].str.lower()

0     breakfast
1        dinner
2         lunch
3        dinner
4         lunch
5        dinner
6        dinner
7     breakfast
8         lunch
9        dinner
10       dinner
11    breakfast
12    breakfast
13        lunch
14        lunch
15        lunch
16       dinner
17    breakfast
18        lunch
19        lunch
20        lunch
21    breakfast
22    breakfast
23       dinner
24        lunch
25    breakfast
26    breakfast
27    breakfast
28        lunch
29       dinner
30    breakfast
31       dinner
32        lunch
33       dinner
34        lunch
35    breakfast
36    breakfast
37    breakfast
38       dinner
39    breakfast
40        lunch
41        lunch
42        lunch
43    breakfast
44       dinner
45       dinner
46    breakfast
47    breakfast
48       dinner
49        lunch
50    breakfast
Name: Type of Meal, dtype: object

In [42]:
invoices['Type of Meal'].str.upper()

0     BREAKFAST
1        DINNER
2         LUNCH
3        DINNER
4         LUNCH
5        DINNER
6        DINNER
7     BREAKFAST
8         LUNCH
9        DINNER
10       DINNER
11    BREAKFAST
12    BREAKFAST
13        LUNCH
14        LUNCH
15        LUNCH
16       DINNER
17    BREAKFAST
18        LUNCH
19        LUNCH
20        LUNCH
21    BREAKFAST
22    BREAKFAST
23       DINNER
24        LUNCH
25    BREAKFAST
26    BREAKFAST
27    BREAKFAST
28        LUNCH
29       DINNER
30    BREAKFAST
31       DINNER
32        LUNCH
33       DINNER
34        LUNCH
35    BREAKFAST
36    BREAKFAST
37    BREAKFAST
38       DINNER
39    BREAKFAST
40        LUNCH
41        LUNCH
42        LUNCH
43    BREAKFAST
44       DINNER
45       DINNER
46    BREAKFAST
47    BREAKFAST
48       DINNER
49        LUNCH
50    BREAKFAST
Name: Type of Meal, dtype: object

In [43]:
# To control the positions of strings(ljust(width), rjust(width), center(width), zfill(width))
invoices['Type of Meal'].str.ljust(width=15)

0     Breakfast
1     Dinner
2     Lunch
3     Dinner
4     Lunch
5     Dinner
6     Dinner
7     Breakfast
8     Lunch
9     Dinner
10    Dinner
11    Breakfast
12    Breakfast
13    Lunch
14    Lunch
15    Lunch
16    Dinner
17    Breakfast
18    Lunch
19    Lunch
20    Lunch
21    Breakfast
22    Breakfast
23    Dinner
24    Lunch
25    Breakfast
26    Breakfast
27    Breakfast
28    Lunch
29    Dinner
30    Breakfast
31    Dinner
32    Lunch
33    Dinner
34    Lunch
35    Breakfast
36    Breakfast
37    Breakfast
38    Dinner
39    Breakfast
40    Lunch
41    Lunch
42    Lunch
43    Breakfast
44    Dinner
45    Dinner
46    Breakfast
47    Breakfast
48    Dinner
49    Lunch
50    Breakfast
Name: Type of Meal, dtype: object

In [44]:
invoices['Type of Meal'].str.rjust(width=15)

0           Breakfast
1              Dinner
2               Lunch
3              Dinner
4               Lunch
5              Dinner
6              Dinner
7           Breakfast
8               Lunch
9              Dinner
10             Dinner
11          Breakfast
12          Breakfast
13              Lunch
14              Lunch
15              Lunch
16             Dinner
17          Breakfast
18              Lunch
19              Lunch
20              Lunch
21          Breakfast
22          Breakfast
23             Dinner
24              Lunch
25          Breakfast
26          Breakfast
27          Breakfast
28              Lunch
29             Dinner
30          Breakfast
31             Dinner
32              Lunch
33             Dinner
34              Lunch
35          Breakfast
36          Breakfast
37          Breakfast
38             Dinner
39          Breakfast
40              Lunch
41              Lunch
42              Lunch
43          Breakfast
44             Dinner
45             Dinner
46          Breakfast
47          Breakfast
48             Dinner
49              Lunch
50          Breakfast
Name: Type of Meal, dtype: object

In [45]:
invoices['Type of Meal'].str.center(width=15)

0        Breakfast
1          Dinner
2          Lunch
3          Dinner
4          Lunch
5          Dinner
6          Dinner
7        Breakfast
8          Lunch
9          Dinner
10         Dinner
11       Breakfast
12       Breakfast
13         Lunch
14         Lunch
15         Lunch
16         Dinner
17       Breakfast
18         Lunch
19         Lunch
20         Lunch
21       Breakfast
22       Breakfast
23         Dinner
24         Lunch
25       Breakfast
26       Breakfast
27       Breakfast
28         Lunch
29         Dinner
30       Breakfast
31         Dinner
32         Lunch
33         Dinner
34         Lunch
35       Breakfast
36       Breakfast
37       Breakfast
38         Dinner
39       Breakfast
40         Lunch
41         Lunch
42         Lunch
43       Breakfast
44         Dinner
45         Dinner
46       Breakfast
47       Breakfast
48         Dinner
49         Lunch
50       Breakfast
Name: Type of Meal, dtype: object

In [46]:
invoices['Type of Meal'].str.zfill(width=15)

0     000000Breakfast
1     000000000Dinner
2     0000000000Lunch
3     000000000Dinner
4     0000000000Lunch
5     000000000Dinner
6     000000000Dinner
7     000000Breakfast
8     0000000000Lunch
9     000000000Dinner
10    000000000Dinner
11    000000Breakfast
12    000000Breakfast
13    0000000000Lunch
14    0000000000Lunch
15    0000000000Lunch
16    000000000Dinner
17    000000Breakfast
18    0000000000Lunch
19    0000000000Lunch
20    0000000000Lunch
21    000000Breakfast
22    000000Breakfast
23    000000000Dinner
24    0000000000Lunch
25    000000Breakfast
26    000000Breakfast
27    000000Breakfast
28    0000000000Lunch
29    000000000Dinner
30    000000Breakfast
31    000000000Dinner
32    0000000000Lunch
33    000000000Dinner
34    0000000000Lunch
35    000000Breakfast
36    000000Breakfast
37    000000Breakfast
38    000000000Dinner
39    000000Breakfast
40    0000000000Lunch
41    0000000000Lunch
42    0000000000Lunch
43    000000Breakfast
44    000000000Dinner
45    000000000Dinner
46    000000Breakfast
47    000000Breakfast
48    000000000Dinner
49    0000000000Lunch
50    000000Breakfast
Name: Type of Meal, dtype: object

In [47]:
#startswith(<substring>), endswith(<substring>), contains(<substring>) checks for the presence of a substring
invoices['Type of Meal'].str.endswith('ast')

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11     True
12     True
13    False
14    False
15    False
16    False
17     True
18    False
19    False
20    False
21     True
22     True
23    False
24    False
25     True
26     True
27     True
28    False
29    False
30     True
31    False
32    False
33    False
34    False
35     True
36     True
37     True
38    False
39     True
40    False
41    False
42    False
43     True
44    False
45    False
46     True
47     True
48    False
49    False
50     True
Name: Type of Meal, dtype: bool

In [49]:
invoices[invoices['Participants'].str.contains('Emma Steitz')]

            Order Id       Date  ... Type of Meal Heroes Adjustment
21  5SYB15QEFWD1E4Q4 2017-07-09  ...    Breakfast             False
23  795SVIJKO8KS3ZEL 2015-01-05  ...       Dinner             False
26  6P91QRADC2O9WOVT 2016-09-25  ...    Breakfast             False

[3 rows x 9 columns]

In [50]:
invoices['Type of Meal'].str.swapcase()

0     bREAKFAST
1        dINNER
2         lUNCH
3        dINNER
4         lUNCH
5        dINNER
6        dINNER
7     bREAKFAST
8         lUNCH
9        dINNER
10       dINNER
11    bREAKFAST
12    bREAKFAST
13        lUNCH
14        lUNCH
15        lUNCH
16       dINNER
17    bREAKFAST
18        lUNCH
19        lUNCH
20        lUNCH
21    bREAKFAST
22    bREAKFAST
23       dINNER
24        lUNCH
25    bREAKFAST
26    bREAKFAST
27    bREAKFAST
28        lUNCH
29       dINNER
30    bREAKFAST
31       dINNER
32        lUNCH
33       dINNER
34        lUNCH
35    bREAKFAST
36    bREAKFAST
37    bREAKFAST
38       dINNER
39    bREAKFAST
40        lUNCH
41        lUNCH
42        lUNCH
43    bREAKFAST
44       dINNER
45       dINNER
46    bREAKFAST
47    bREAKFAST
48       dINNER
49        lUNCH
50    bREAKFAST
Name: Type of Meal, dtype: object

In [51]:
invoices['Type of Meal'].str.repeat(2)

0     BreakfastBreakfast
1           DinnerDinner
2             LunchLunch
3           DinnerDinner
4             LunchLunch
5           DinnerDinner
6           DinnerDinner
7     BreakfastBreakfast
8             LunchLunch
9           DinnerDinner
10          DinnerDinner
11    BreakfastBreakfast
12    BreakfastBreakfast
13            LunchLunch
14            LunchLunch
15            LunchLunch
16          DinnerDinner
17    BreakfastBreakfast
18            LunchLunch
19            LunchLunch
20            LunchLunch
21    BreakfastBreakfast
22    BreakfastBreakfast
23          DinnerDinner
24            LunchLunch
25    BreakfastBreakfast
26    BreakfastBreakfast
27    BreakfastBreakfast
28            LunchLunch
29          DinnerDinner
30    BreakfastBreakfast
31          DinnerDinner
32            LunchLunch
33          DinnerDinner
34            LunchLunch
35    BreakfastBreakfast
36    BreakfastBreakfast
37    BreakfastBreakfast
38          DinnerDinner
39    BreakfastBreakfast
40            LunchLunch
41            LunchLunch
42            LunchLunch
43    BreakfastBreakfast
44          DinnerDinner
45          DinnerDinner
46    BreakfastBreakfast
47    BreakfastBreakfast
48          DinnerDinner
49            LunchLunch
50    BreakfastBreakfast
Name: Type of Meal, dtype: object

**Accessor-cat**

In [52]:
# oredered -> lets you know the column is ordered 
invoices['Type of Meal'].cat.ordered

False

In [53]:
#categories -> return the categories
invoices['Type of Meal'].cat.categories

Index(['Breakfast', 'Dinner', 'Lunch'], dtype='object')

In [54]:
#codes for quick conversion of the category into its numerical representation
invoices['Type of Meal'].cat.codes

0     0
1     1
2     2
3     1
4     2
5     1
6     1
7     0
8     2
9     1
10    1
11    0
12    0
13    2
14    2
15    2
16    1
17    0
18    2
19    2
20    2
21    0
22    0
23    1
24    2
25    0
26    0
27    0
28    2
29    1
30    0
31    1
32    2
33    1
34    2
35    0
36    0
37    0
38    1
39    0
40    2
41    2
42    2
43    0
44    1
45    1
46    0
47    0
48    1
49    2
50    0
dtype: int8

In [55]:
#reorder_categories to change the existing order of the categories
invoices['Type of Meal'].cat.reorder_categories(['Lunch','Breakfast','Dinner'])

0     Breakfast
1        Dinner
2         Lunch
3        Dinner
4         Lunch
5        Dinner
6        Dinner
7     Breakfast
8         Lunch
9        Dinner
10       Dinner
11    Breakfast
12    Breakfast
13        Lunch
14        Lunch
15        Lunch
16       Dinner
17    Breakfast
18        Lunch
19        Lunch
20        Lunch
21    Breakfast
22    Breakfast
23       Dinner
24        Lunch
25    Breakfast
26    Breakfast
27    Breakfast
28        Lunch
29       Dinner
30    Breakfast
31       Dinner
32        Lunch
33       Dinner
34        Lunch
35    Breakfast
36    Breakfast
37    Breakfast
38       Dinner
39    Breakfast
40        Lunch
41        Lunch
42        Lunch
43    Breakfast
44       Dinner
45       Dinner
46    Breakfast
47    Breakfast
48       Dinner
49        Lunch
50    Breakfast
Name: Type of Meal, dtype: category
Categories (3, object): ['Lunch', 'Breakfast', 'Dinner']

# Concatenating

**Concatenating - Vertical Stacking**

In [58]:
#use dt accessor to count all the years
invoices['Date of Meal'].dt.year.value_counts().sort_index()

2014    11
2015    10
2016    11
2017    10
2018     9
Name: Date of Meal, dtype: int64

In [59]:
#Split the data
# copy() to make sure that the resulting DataFrames are going to be a copy of the data and not just a reference to the original DataFrame.
y_2013 = invoices[invoices['Date of Meal'].dt.year == 2013].copy()
y_2014 = invoices[invoices['Date of Meal'].dt.year == 2014].copy()
y_2015 = invoices[invoices['Date of Meal'].dt.year == 2015].copy()
y_2016 = invoices[invoices['Date of Meal'].dt.year == 2016].copy()
y_2017 = invoices[invoices['Date of Meal'].dt.year == 2017].copy()
y_2018 = invoices[invoices['Date of Meal'].dt.year == 2018].copy()
y_2019 = invoices[invoices['Date of Meal'].dt.year == 2019].copy()

In [60]:
y_2014

            Order Id       Date  ... Type of Meal Heroes Adjustment
2   041ORQM5OIHTIU6L 2014-08-24  ...        Lunch             False
3   YT796QI18WNGZ7ZJ 2014-04-12  ...       Dinner             False
5   AT0R4DFYYAFOC88Q 2014-07-21  ...       Dinner             False
6   2DDN2LHS7G85GKPQ 2014-04-29  ...       Dinner             False
7   FM608JK1N01BPUQN 2014-05-08  ...    Breakfast             False
20  6UX5RMHJ1GK1F9YQ 2014-08-24  ...        Lunch             False
24  8070KEFYSSPWPCD0 2014-08-05  ...        Lunch             False
27  AV70ZTPG7WYIZBHM 2014-01-30  ...    Breakfast             False
29  C06H3L3ZMTPHZYE7 2014-09-28  ...       Dinner             False
38  0VQEIQ6KSX6VZD08 2014-11-24  ...       Dinner             False
47  RWOML79PI4SYCW5Q 2014-04-07  ...    Breakfast             False

[11 rows x 9 columns]

In [63]:
# Concatenating data vertically
pd.concat([y_2013,y_2014,y_2015,y_2016,y_2017,y_2018,y_2019],axis=0,keys=['1','2','3','4','5','6','7'],names=['index','year_of_order'])

                             Order Id  ... Heroes Adjustment
index year_of_order                    ...
2     2              041ORQM5OIHTIU6L  ...             False
      3              YT796QI18WNGZ7ZJ  ...             False
      5              AT0R4DFYYAFOC88Q  ...             False
      6              2DDN2LHS7G85GKPQ  ...             False
      7              FM608JK1N01BPUQN  ...             False
      20             6UX5RMHJ1GK1F9YQ  ...             False
      24             8070KEFYSSPWPCD0  ...             False
      27             AV70ZTPG7WYIZBHM  ...             False
      29             C06H3L3ZMTPHZYE7  ...             False
      38             0VQEIQ6KSX6VZD08  ...             False
      47             RWOML79PI4SYCW5Q  ...             False
3     4              6YLROQT27B6HRF4E  ...             False
      8              CK331XXNIBQT81QL  ...             False
      23             795SVIJKO8KS3ZEL  ...             False
      30             S35Y2T41PETM02Z8  ...             False
      35             FIF56JW8NB30A7H6  ...             False
      36             1SLO340LG6K3VM71  ...             False
      37             4W2R0J2IM1I7A8NN  ...             False
      39             EJG2RJHF1KWL9B8Q  ...             False
      45             6ODHUV6OBRPAUYTX  ...             False
      50             MLG5A3GGB5XBONG9  ...             False
4     0              839FKFW2LLX4LMBB  ...             False
      9              FESGKOQN2OZZWXY3  ...             False
      10             YITOTLOF0MWZ0VYX  ...             False
      12             TH60C9D8TPYS7DGG  ...             False
      14             WKB58Q8BHLOFQAB5  ...             False
      25             RUQOHROBGBOSNUO4  ...             False
      26             6P91QRADC2O9WOVT  ...             False
      31             4P0WQVUN6E5EGYWK  ...             False
      32             F7RNUHMDYQS2OS3S  ...             False
      40             H944X2A26P5INPIK  ...             False
      48             I7AGDMJYVJWSJHGC  ...             False
5     13             W1Y086SRAVUZU1AL  ...             False
      16             DPDV9UGF0SUCYTGW  ...             False
      18             LEED1HY47M8BR5VL  ...             False
      19             LSJPNJQLDTIRNWAL  ...             False
      21             5SYB15QEFWD1E4Q4  ...             False
      22             W5S8VZ61WJONS4EE  ...             False
      41             CPCL6LVOZUKO5THR  ...             False
      43             H0WAISJM9ZM951EF  ...             False
      44             S1R4AUBCH6BFGM52  ...             False
      46             AX56I4Q2LLODK7MW  ...             False
6     1              97OX39BGVMHODLJM  ...             False
      11             8RIGCF74GUEQHQEE  ...             False
      15             N8DOG58MW238BHA9  ...             False
      17             KNF3E3QTOQ22J269  ...             False
      28             N8DEX5RIZLY2TN9S  ...             False
      33             E2XFDVKEKUIWPXY9  ...             False
      34             BUP7RCDWVHJWMFQ8  ...             False
      42             9WQ7292N2B1KV69M  ...             False
      49             6PB6DUI45YAXQW9A  ...             False

[51 rows x 9 columns]

In [66]:
# Concatenating data Horizontally
import datetime

range_a = pd.date_range(
    datetime.datetime(2019,1,2),
    datetime.datetime(2019,1,8)
)
df_a = pd.DataFrame(
    index=range_a, 
    data=np.random.randint(2,10,size=len(range_a)),
    columns=['observations_A']
)
range_b = pd.date_range(
    datetime.datetime(2019,1,5),
    datetime.datetime(2019,1,12)
)
df_b = pd.DataFrame(
    index=range_b, 
    data=np.random.randint(2,10,size=len(range_b)),
    columns=['observations_B']
)
pd.concat([df_a,df_b],axis=1)

            observations_A  observations_B
2019-01-02             5.0             NaN
2019-01-03             8.0             NaN
2019-01-04             7.0             NaN
2019-01-05             6.0             8.0
2019-01-06             9.0             8.0
2019-01-07             5.0             4.0
2019-01-08             9.0             3.0
2019-01-09             NaN             3.0
2019-01-10             NaN             3.0
2019-01-11             NaN             3.0
2019-01-12             NaN             5.0

**Merging**

In [3]:
order_data=pd.read_csv('https://raw.githubusercontent.com/payalkutana/python-pandas/main/order_leads.csv')
sales_team=pd.read_csv('https://raw.githubusercontent.com/payalkutana/python-pandas/main/sales_team.csv')

In [77]:
sales_team.head(3)

           Sales Rep  ...        Company Id
0  Jessie Mcallister  ...  LJKS5NK6788CYMUU
1  Jessie Mcallister  ...  36MFTZOYMTAJP1RK
2  Jessie Mcallister  ...  H3JRC7XX7WJAD4ZO

[3 rows x 4 columns]

In [76]:
invoices.sample(3)

            Order Id       Date  ... Type of Meal Heroes Adjustment
21  5SYB15QEFWD1E4Q4 2017-07-09  ...    Breakfast             False
10  YITOTLOF0MWZ0VYX 2016-10-03  ...       Dinner             False
2   041ORQM5OIHTIU6L 2014-08-24  ...        Lunch             False

[3 rows x 9 columns]

In [74]:
order_data.head(3)

           Order Id        Company Id  ... Order Value Converted
0  80EYLOKP9E762WKG  LJKS5NK6788CYMUU  ...        4875         1
1  TLEXR1HZWTUTBHPB  LJKS5NK6788CYMUU  ...        8425         0
2  839FKFW2LLX4LMBB  LJKS5NK6788CYMUU  ...        4837         0

[3 rows x 6 columns]

In [7]:
pd.merge(order_data,invoices) # by default it's inner join

            Order Id        Company Id  ... Type of Meal Heroes Adjustment
0   839FKFW2LLX4LMBB  LJKS5NK6788CYMUU  ...    Breakfast             False
1   97OX39BGVMHODLJM  LJKS5NK6788CYMUU  ...       Dinner             False
2   041ORQM5OIHTIU6L  LJKS5NK6788CYMUU  ...        Lunch             False
3   YT796QI18WNGZ7ZJ  LJKS5NK6788CYMUU  ...       Dinner             False
4   6YLROQT27B6HRF4E  LJKS5NK6788CYMUU  ...        Lunch             False
5   AT0R4DFYYAFOC88Q  LJKS5NK6788CYMUU  ...       Dinner             False
6   2DDN2LHS7G85GKPQ  LJKS5NK6788CYMUU  ...       Dinner             False
7   FM608JK1N01BPUQN  36MFTZOYMTAJP1RK  ...    Breakfast             False
8   CK331XXNIBQT81QL  36MFTZOYMTAJP1RK  ...        Lunch             False
9   FESGKOQN2OZZWXY3  36MFTZOYMTAJP1RK  ...       Dinner             False
10  YITOTLOF0MWZ0VYX  36MFTZOYMTAJP1RK  ...       Dinner             False
11  8RIGCF74GUEQHQEE  36MFTZOYMTAJP1RK  ...    Breakfast             False
12  TH60C9D8TPYS7DGG  36MFTZOYMTAJP1RK  ...    Breakfast             False
13  W1Y086SRAVUZU1AL  36MFTZOYMTAJP1RK  ...        Lunch             False
14  WKB58Q8BHLOFQAB5  36MFTZOYMTAJP1RK  ...        Lunch             False
15  N8DOG58MW238BHA9  36MFTZOYMTAJP1RK  ...        Lunch             False
16  DPDV9UGF0SUCYTGW  36MFTZOYMTAJP1RK  ...       Dinner             False
17  KNF3E3QTOQ22J269  36MFTZOYMTAJP1RK  ...    Breakfast             False
18  LEED1HY47M8BR5VL  36MFTZOYMTAJP1RK  ...        Lunch             False
19  LSJPNJQLDTIRNWAL  36MFTZOYMTAJP1RK  ...        Lunch             False
20  6UX5RMHJ1GK1F9YQ  H3JRC7XX7WJAD4ZO  ...        Lunch             False
21  5SYB15QEFWD1E4Q4  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
22  W5S8VZ61WJONS4EE  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
23  795SVIJKO8KS3ZEL  H3JRC7XX7WJAD4ZO  ...       Dinner             False
24  8070KEFYSSPWPCD0  H3JRC7XX7WJAD4ZO  ...        Lunch             False
25  RUQOHROBGBOSNUO4  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
26  6P91QRADC2O9WOVT  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
27  AV70ZTPG7WYIZBHM  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
28  N8DEX5RIZLY2TN9S  H3JRC7XX7WJAD4ZO  ...        Lunch             False
29  C06H3L3ZMTPHZYE7  HB25MDZR0MGCQUGX  ...       Dinner             False
30  S35Y2T41PETM02Z8  HB25MDZR0MGCQUGX  ...    Breakfast             False
31  4P0WQVUN6E5EGYWK  HB25MDZR0MGCQUGX  ...       Dinner             False
32  F7RNUHMDYQS2OS3S  HB25MDZR0MGCQUGX  ...        Lunch             False
33  E2XFDVKEKUIWPXY9  HB25MDZR0MGCQUGX  ...       Dinner             False
34  BUP7RCDWVHJWMFQ8  HB25MDZR0MGCQUGX  ...        Lunch             False
35  FIF56JW8NB30A7H6  HB25MDZR0MGCQUGX  ...    Breakfast             False
36  1SLO340LG6K3VM71  HB25MDZR0MGCQUGX  ...    Breakfast             False
37  4W2R0J2IM1I7A8NN  HB25MDZR0MGCQUGX  ...    Breakfast             False
38  0VQEIQ6KSX6VZD08  HB25MDZR0MGCQUGX  ...       Dinner             False
39  EJG2RJHF1KWL9B8Q  HB25MDZR0MGCQUGX  ...    Breakfast             False
40  H944X2A26P5INPIK  HB25MDZR0MGCQUGX  ...        Lunch             False
41  CPCL6LVOZUKO5THR  HB25MDZR0MGCQUGX  ...        Lunch             False
42  9WQ7292N2B1KV69M  HB25MDZR0MGCQUGX  ...        Lunch             False
43  H0WAISJM9ZM951EF  HB25MDZR0MGCQUGX  ...    Breakfast             False
44  S1R4AUBCH6BFGM52  7RVA8TIVBLBXMNO4  ...       Dinner             False
45  6ODHUV6OBRPAUYTX  7RVA8TIVBLBXMNO4  ...       Dinner             False
46  AX56I4Q2LLODK7MW  7RVA8TIVBLBXMNO4  ...    Breakfast             False
47  RWOML79PI4SYCW5Q  7RVA8TIVBLBXMNO4  ...    Breakfast             False
48  I7AGDMJYVJWSJHGC  7RVA8TIVBLBXMNO4  ...       Dinner             False
49  6PB6DUI45YAXQW9A  7RVA8TIVBLBXMNO4  ...        Lunch             False
50  MLG5A3GGB5XBONG9  7RVA8TIVBLBXMNO4  ...    Breakfast             False

[51 rows x 12 columns]

In [6]:
pd.merge(order_data,invoices,how='left') # similar to right and outer join

             Order Id        Company Id  ... Type of Meal Heroes Adjustment
0    80EYLOKP9E762WKG  LJKS5NK6788CYMUU  ...          NaN               NaN
1    TLEXR1HZWTUTBHPB  LJKS5NK6788CYMUU  ...          NaN               NaN
2    839FKFW2LLX4LMBB  LJKS5NK6788CYMUU  ...    Breakfast             False
3    97OX39BGVMHODLJM  LJKS5NK6788CYMUU  ...       Dinner             False
4    5T4LGH4XGBWOD49Z  LJKS5NK6788CYMUU  ...          NaN               NaN
..                ...               ...  ...          ...               ...
368  2JTIWB2HF586ISEU  R7ID6873ITH6GCLJ  ...          NaN               NaN
369  WK661VRF4WCKOKYV  R7ID6873ITH6GCLJ  ...          NaN               NaN
370  564QVHWL6GZIEALQ  R7ID6873ITH6GCLJ  ...          NaN               NaN
371  E4FXQ6P8K092R3JP  R7ID6873ITH6GCLJ  ...          NaN               NaN
372  Y16LFXHYDNKF9P54  R7ID6873ITH6GCLJ  ...          NaN               NaN

[373 rows x 12 columns]

In [8]:
# Merging — on/suffixes
import pandas as pd
pd.merge(order_data,invoices,on='Order Id')

            Order Id      Company Id_x  ... Type of Meal Heroes Adjustment
0   839FKFW2LLX4LMBB  LJKS5NK6788CYMUU  ...    Breakfast             False
1   97OX39BGVMHODLJM  LJKS5NK6788CYMUU  ...       Dinner             False
2   041ORQM5OIHTIU6L  LJKS5NK6788CYMUU  ...        Lunch             False
3   YT796QI18WNGZ7ZJ  LJKS5NK6788CYMUU  ...       Dinner             False
4   6YLROQT27B6HRF4E  LJKS5NK6788CYMUU  ...        Lunch             False
5   AT0R4DFYYAFOC88Q  LJKS5NK6788CYMUU  ...       Dinner             False
6   2DDN2LHS7G85GKPQ  LJKS5NK6788CYMUU  ...       Dinner             False
7   FM608JK1N01BPUQN  36MFTZOYMTAJP1RK  ...    Breakfast             False
8   CK331XXNIBQT81QL  36MFTZOYMTAJP1RK  ...        Lunch             False
9   FESGKOQN2OZZWXY3  36MFTZOYMTAJP1RK  ...       Dinner             False
10  YITOTLOF0MWZ0VYX  36MFTZOYMTAJP1RK  ...       Dinner             False
11  8RIGCF74GUEQHQEE  36MFTZOYMTAJP1RK  ...    Breakfast             False
12  TH60C9D8TPYS7DGG  36MFTZOYMTAJP1RK  ...    Breakfast             False
13  W1Y086SRAVUZU1AL  36MFTZOYMTAJP1RK  ...        Lunch             False
14  WKB58Q8BHLOFQAB5  36MFTZOYMTAJP1RK  ...        Lunch             False
15  N8DOG58MW238BHA9  36MFTZOYMTAJP1RK  ...        Lunch             False
16  DPDV9UGF0SUCYTGW  36MFTZOYMTAJP1RK  ...       Dinner             False
17  KNF3E3QTOQ22J269  36MFTZOYMTAJP1RK  ...    Breakfast             False
18  LEED1HY47M8BR5VL  36MFTZOYMTAJP1RK  ...        Lunch             False
19  LSJPNJQLDTIRNWAL  36MFTZOYMTAJP1RK  ...        Lunch             False
20  6UX5RMHJ1GK1F9YQ  H3JRC7XX7WJAD4ZO  ...        Lunch             False
21  5SYB15QEFWD1E4Q4  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
22  W5S8VZ61WJONS4EE  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
23  795SVIJKO8KS3ZEL  H3JRC7XX7WJAD4ZO  ...       Dinner             False
24  8070KEFYSSPWPCD0  H3JRC7XX7WJAD4ZO  ...        Lunch             False
25  RUQOHROBGBOSNUO4  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
26  6P91QRADC2O9WOVT  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
27  AV70ZTPG7WYIZBHM  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
28  N8DEX5RIZLY2TN9S  H3JRC7XX7WJAD4ZO  ...        Lunch             False
29  C06H3L3ZMTPHZYE7  HB25MDZR0MGCQUGX  ...       Dinner             False
30  S35Y2T41PETM02Z8  HB25MDZR0MGCQUGX  ...    Breakfast             False
31  4P0WQVUN6E5EGYWK  HB25MDZR0MGCQUGX  ...       Dinner             False
32  F7RNUHMDYQS2OS3S  HB25MDZR0MGCQUGX  ...        Lunch             False
33  E2XFDVKEKUIWPXY9  HB25MDZR0MGCQUGX  ...       Dinner             False
34  BUP7RCDWVHJWMFQ8  HB25MDZR0MGCQUGX  ...        Lunch             False
35  FIF56JW8NB30A7H6  HB25MDZR0MGCQUGX  ...    Breakfast             False
36  1SLO340LG6K3VM71  HB25MDZR0MGCQUGX  ...    Breakfast             False
37  4W2R0J2IM1I7A8NN  HB25MDZR0MGCQUGX  ...    Breakfast             False
38  0VQEIQ6KSX6VZD08  HB25MDZR0MGCQUGX  ...       Dinner             False
39  EJG2RJHF1KWL9B8Q  HB25MDZR0MGCQUGX  ...    Breakfast             False
40  H944X2A26P5INPIK  HB25MDZR0MGCQUGX  ...        Lunch             False
41  CPCL6LVOZUKO5THR  HB25MDZR0MGCQUGX  ...        Lunch             False
42  9WQ7292N2B1KV69M  HB25MDZR0MGCQUGX  ...        Lunch             False
43  H0WAISJM9ZM951EF  HB25MDZR0MGCQUGX  ...    Breakfast             False
44  S1R4AUBCH6BFGM52  7RVA8TIVBLBXMNO4  ...       Dinner             False
45  6ODHUV6OBRPAUYTX  7RVA8TIVBLBXMNO4  ...       Dinner             False
46  AX56I4Q2LLODK7MW  7RVA8TIVBLBXMNO4  ...    Breakfast             False
47  RWOML79PI4SYCW5Q  7RVA8TIVBLBXMNO4  ...    Breakfast             False
48  I7AGDMJYVJWSJHGC  7RVA8TIVBLBXMNO4  ...       Dinner             False
49  6PB6DUI45YAXQW9A  7RVA8TIVBLBXMNO4  ...        Lunch             False
50  MLG5A3GGB5XBONG9  7RVA8TIVBLBXMNO4  ...    Breakfast             False

[51 rows x 14 columns]

In [9]:
#Custome Suffix
pd.merge(order_data,invoices,on='Order Id',suffixes=('_base','_join'))

            Order Id   Company Id_base  ... Type of Meal Heroes Adjustment
0   839FKFW2LLX4LMBB  LJKS5NK6788CYMUU  ...    Breakfast             False
1   97OX39BGVMHODLJM  LJKS5NK6788CYMUU  ...       Dinner             False
2   041ORQM5OIHTIU6L  LJKS5NK6788CYMUU  ...        Lunch             False
3   YT796QI18WNGZ7ZJ  LJKS5NK6788CYMUU  ...       Dinner             False
4   6YLROQT27B6HRF4E  LJKS5NK6788CYMUU  ...        Lunch             False
5   AT0R4DFYYAFOC88Q  LJKS5NK6788CYMUU  ...       Dinner             False
6   2DDN2LHS7G85GKPQ  LJKS5NK6788CYMUU  ...       Dinner             False
7   FM608JK1N01BPUQN  36MFTZOYMTAJP1RK  ...    Breakfast             False
8   CK331XXNIBQT81QL  36MFTZOYMTAJP1RK  ...        Lunch             False
9   FESGKOQN2OZZWXY3  36MFTZOYMTAJP1RK  ...       Dinner             False
10  YITOTLOF0MWZ0VYX  36MFTZOYMTAJP1RK  ...       Dinner             False
11  8RIGCF74GUEQHQEE  36MFTZOYMTAJP1RK  ...    Breakfast             False
12  TH60C9D8TPYS7DGG  36MFTZOYMTAJP1RK  ...    Breakfast             False
13  W1Y086SRAVUZU1AL  36MFTZOYMTAJP1RK  ...        Lunch             False
14  WKB58Q8BHLOFQAB5  36MFTZOYMTAJP1RK  ...        Lunch             False
15  N8DOG58MW238BHA9  36MFTZOYMTAJP1RK  ...        Lunch             False
16  DPDV9UGF0SUCYTGW  36MFTZOYMTAJP1RK  ...       Dinner             False
17  KNF3E3QTOQ22J269  36MFTZOYMTAJP1RK  ...    Breakfast             False
18  LEED1HY47M8BR5VL  36MFTZOYMTAJP1RK  ...        Lunch             False
19  LSJPNJQLDTIRNWAL  36MFTZOYMTAJP1RK  ...        Lunch             False
20  6UX5RMHJ1GK1F9YQ  H3JRC7XX7WJAD4ZO  ...        Lunch             False
21  5SYB15QEFWD1E4Q4  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
22  W5S8VZ61WJONS4EE  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
23  795SVIJKO8KS3ZEL  H3JRC7XX7WJAD4ZO  ...       Dinner             False
24  8070KEFYSSPWPCD0  H3JRC7XX7WJAD4ZO  ...        Lunch             False
25  RUQOHROBGBOSNUO4  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
26  6P91QRADC2O9WOVT  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
27  AV70ZTPG7WYIZBHM  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
28  N8DEX5RIZLY2TN9S  H3JRC7XX7WJAD4ZO  ...        Lunch             False
29  C06H3L3ZMTPHZYE7  HB25MDZR0MGCQUGX  ...       Dinner             False
30  S35Y2T41PETM02Z8  HB25MDZR0MGCQUGX  ...    Breakfast             False
31  4P0WQVUN6E5EGYWK  HB25MDZR0MGCQUGX  ...       Dinner             False
32  F7RNUHMDYQS2OS3S  HB25MDZR0MGCQUGX  ...        Lunch             False
33  E2XFDVKEKUIWPXY9  HB25MDZR0MGCQUGX  ...       Dinner             False
34  BUP7RCDWVHJWMFQ8  HB25MDZR0MGCQUGX  ...        Lunch             False
35  FIF56JW8NB30A7H6  HB25MDZR0MGCQUGX  ...    Breakfast             False
36  1SLO340LG6K3VM71  HB25MDZR0MGCQUGX  ...    Breakfast             False
37  4W2R0J2IM1I7A8NN  HB25MDZR0MGCQUGX  ...    Breakfast             False
38  0VQEIQ6KSX6VZD08  HB25MDZR0MGCQUGX  ...       Dinner             False
39  EJG2RJHF1KWL9B8Q  HB25MDZR0MGCQUGX  ...    Breakfast             False
40  H944X2A26P5INPIK  HB25MDZR0MGCQUGX  ...        Lunch             False
41  CPCL6LVOZUKO5THR  HB25MDZR0MGCQUGX  ...        Lunch             False
42  9WQ7292N2B1KV69M  HB25MDZR0MGCQUGX  ...        Lunch             False
43  H0WAISJM9ZM951EF  HB25MDZR0MGCQUGX  ...    Breakfast             False
44  S1R4AUBCH6BFGM52  7RVA8TIVBLBXMNO4  ...       Dinner             False
45  6ODHUV6OBRPAUYTX  7RVA8TIVBLBXMNO4  ...       Dinner             False
46  AX56I4Q2LLODK7MW  7RVA8TIVBLBXMNO4  ...    Breakfast             False
47  RWOML79PI4SYCW5Q  7RVA8TIVBLBXMNO4  ...    Breakfast             False
48  I7AGDMJYVJWSJHGC  7RVA8TIVBLBXMNO4  ...       Dinner             False
49  6PB6DUI45YAXQW9A  7RVA8TIVBLBXMNO4  ...        Lunch             False
50  MLG5A3GGB5XBONG9  7RVA8TIVBLBXMNO4  ...    Breakfast             False

[51 rows x 14 columns]

In [11]:
#--> Merging — left_ on/right_on
# You would typically use the left_on and right_on parameters when the columns are named differently in the two DataFrames.

pd.merge(order_data,invoices.rename(columns={'Order Id':'New Id'}),left_on='Order Id',right_on='New Id')

            Order Id      Company Id_x  ... Type of Meal Heroes Adjustment
0   839FKFW2LLX4LMBB  LJKS5NK6788CYMUU  ...    Breakfast             False
1   97OX39BGVMHODLJM  LJKS5NK6788CYMUU  ...       Dinner             False
2   041ORQM5OIHTIU6L  LJKS5NK6788CYMUU  ...        Lunch             False
3   YT796QI18WNGZ7ZJ  LJKS5NK6788CYMUU  ...       Dinner             False
4   6YLROQT27B6HRF4E  LJKS5NK6788CYMUU  ...        Lunch             False
5   AT0R4DFYYAFOC88Q  LJKS5NK6788CYMUU  ...       Dinner             False
6   2DDN2LHS7G85GKPQ  LJKS5NK6788CYMUU  ...       Dinner             False
7   FM608JK1N01BPUQN  36MFTZOYMTAJP1RK  ...    Breakfast             False
8   CK331XXNIBQT81QL  36MFTZOYMTAJP1RK  ...        Lunch             False
9   FESGKOQN2OZZWXY3  36MFTZOYMTAJP1RK  ...       Dinner             False
10  YITOTLOF0MWZ0VYX  36MFTZOYMTAJP1RK  ...       Dinner             False
11  8RIGCF74GUEQHQEE  36MFTZOYMTAJP1RK  ...    Breakfast             False
12  TH60C9D8TPYS7DGG  36MFTZOYMTAJP1RK  ...    Breakfast             False
13  W1Y086SRAVUZU1AL  36MFTZOYMTAJP1RK  ...        Lunch             False
14  WKB58Q8BHLOFQAB5  36MFTZOYMTAJP1RK  ...        Lunch             False
15  N8DOG58MW238BHA9  36MFTZOYMTAJP1RK  ...        Lunch             False
16  DPDV9UGF0SUCYTGW  36MFTZOYMTAJP1RK  ...       Dinner             False
17  KNF3E3QTOQ22J269  36MFTZOYMTAJP1RK  ...    Breakfast             False
18  LEED1HY47M8BR5VL  36MFTZOYMTAJP1RK  ...        Lunch             False
19  LSJPNJQLDTIRNWAL  36MFTZOYMTAJP1RK  ...        Lunch             False
20  6UX5RMHJ1GK1F9YQ  H3JRC7XX7WJAD4ZO  ...        Lunch             False
21  5SYB15QEFWD1E4Q4  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
22  W5S8VZ61WJONS4EE  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
23  795SVIJKO8KS3ZEL  H3JRC7XX7WJAD4ZO  ...       Dinner             False
24  8070KEFYSSPWPCD0  H3JRC7XX7WJAD4ZO  ...        Lunch             False
25  RUQOHROBGBOSNUO4  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
26  6P91QRADC2O9WOVT  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
27  AV70ZTPG7WYIZBHM  H3JRC7XX7WJAD4ZO  ...    Breakfast             False
28  N8DEX5RIZLY2TN9S  H3JRC7XX7WJAD4ZO  ...        Lunch             False
29  C06H3L3ZMTPHZYE7  HB25MDZR0MGCQUGX  ...       Dinner             False
30  S35Y2T41PETM02Z8  HB25MDZR0MGCQUGX  ...    Breakfast             False
31  4P0WQVUN6E5EGYWK  HB25MDZR0MGCQUGX  ...       Dinner             False
32  F7RNUHMDYQS2OS3S  HB25MDZR0MGCQUGX  ...        Lunch             False
33  E2XFDVKEKUIWPXY9  HB25MDZR0MGCQUGX  ...       Dinner             False
34  BUP7RCDWVHJWMFQ8  HB25MDZR0MGCQUGX  ...        Lunch             False
35  FIF56JW8NB30A7H6  HB25MDZR0MGCQUGX  ...    Breakfast             False
36  1SLO340LG6K3VM71  HB25MDZR0MGCQUGX  ...    Breakfast             False
37  4W2R0J2IM1I7A8NN  HB25MDZR0MGCQUGX  ...    Breakfast             False
38  0VQEIQ6KSX6VZD08  HB25MDZR0MGCQUGX  ...       Dinner             False
39  EJG2RJHF1KWL9B8Q  HB25MDZR0MGCQUGX  ...    Breakfast             False
40  H944X2A26P5INPIK  HB25MDZR0MGCQUGX  ...        Lunch             False
41  CPCL6LVOZUKO5THR  HB25MDZR0MGCQUGX  ...        Lunch             False
42  9WQ7292N2B1KV69M  HB25MDZR0MGCQUGX  ...        Lunch             False
43  H0WAISJM9ZM951EF  HB25MDZR0MGCQUGX  ...    Breakfast             False
44  S1R4AUBCH6BFGM52  7RVA8TIVBLBXMNO4  ...       Dinner             False
45  6ODHUV6OBRPAUYTX  7RVA8TIVBLBXMNO4  ...       Dinner             False
46  AX56I4Q2LLODK7MW  7RVA8TIVBLBXMNO4  ...    Breakfast             False
47  RWOML79PI4SYCW5Q  7RVA8TIVBLBXMNO4  ...    Breakfast             False
48  I7AGDMJYVJWSJHGC  7RVA8TIVBLBXMNO4  ...       Dinner             False
49  6PB6DUI45YAXQW9A  7RVA8TIVBLBXMNO4  ...        Lunch             False
50  MLG5A3GGB5XBONG9  7RVA8TIVBLBXMNO4  ...    Breakfast             False

[51 rows x 15 columns]

**Map To**

In [12]:
lookup= sales_team.set_index('Company Name')['Sales Rep']
lookup

Company Name
Chimera-Chasing Casbah            Jessie Mcallister
Tangential Sheds                  Jessie Mcallister
Two-Mile Grab                     Jessie Mcallister
Three-Men-And-A-Helper Congo'S    Jessie Mcallister
Biophysical Battleground          Jessie Mcallister
                                        ...
Fatherly Meq                              Paul Gade
Over-Arranged Aggressions                 Paul Gade
Thick-Walled Trimmings                    Paul Gade
Surreptitious Puppy                       Paul Gade
Fibrous Aids                              Paul Gade
Name: Sales Rep, Length: 110, dtype: object

In [15]:
order_data['Sales Rep']=order_data['Company Name'].map(lookup)
order_data

             Order Id        Company Id  ... Converted          Sales Rep
0    80EYLOKP9E762WKG  LJKS5NK6788CYMUU  ...         1  Jessie Mcallister
1    TLEXR1HZWTUTBHPB  LJKS5NK6788CYMUU  ...         0  Jessie Mcallister
2    839FKFW2LLX4LMBB  LJKS5NK6788CYMUU  ...         0  Jessie Mcallister
3    97OX39BGVMHODLJM  LJKS5NK6788CYMUU  ...         0  Jessie Mcallister
4    5T4LGH4XGBWOD49Z  LJKS5NK6788CYMUU  ...         0  Jessie Mcallister
..                ...               ...  ...       ...                ...
368  2JTIWB2HF586ISEU  R7ID6873ITH6GCLJ  ...         0  Jessie Mcallister
369  WK661VRF4WCKOKYV  R7ID6873ITH6GCLJ  ...         0  Jessie Mcallister
370  564QVHWL6GZIEALQ  R7ID6873ITH6GCLJ  ...         0  Jessie Mcallister
371  E4FXQ6P8K092R3JP  R7ID6873ITH6GCLJ  ...         0  Jessie Mcallister
372  Y16LFXHYDNKF9P54  R7ID6873ITH6GCLJ  ...         0  Jessie Mcallister

[373 rows x 7 columns]

# Reshaping DataFrames 
melt, 

pivot,

transpose,

stack,
 
unstack

**Transpose**

In [16]:
#Transposing a DataFrame means to swap the index and column
invoices.head(5)

           Order Id        Date  ... Type of Meal Heroes Adjustment
0  839FKFW2LLX4LMBB  2016-05-27  ...    Breakfast             False
1  97OX39BGVMHODLJM  2018-09-27  ...       Dinner             False
2  041ORQM5OIHTIU6L  2014-08-24  ...        Lunch             False
3  YT796QI18WNGZ7ZJ  2014-04-12  ...       Dinner             False
4  6YLROQT27B6HRF4E  2015-07-28  ...        Lunch             False

[5 rows x 9 columns]

In [17]:
invoices.head(5).T

                                           0  ...                                  4
Order Id                    839FKFW2LLX4LMBB  ...                   6YLROQT27B6HRF4E
Date                              2016-05-27  ...                         2015-07-28
Meal Id                     INBUX904GIHI8YBD  ...                   48EQXS6IHYNZDDZ5
Company Id                  LJKS5NK6788CYMUU  ...                   LJKS5NK6788CYMUU
Date of Meal       2016-05-31 07:00:00+02:00  ...          2015-07-27 14:00:00+02:00
Participants                ['David Bishop']  ...  ['Addie Patino' 'Susan Guerrero']
Meal Price                               469  ...                                690
Type of Meal                       Breakfast  ...                              Lunch
Heroes Adjustment                      False  ...                              False

[9 rows x 5 columns]

**groupby**

In [19]:
invoices.groupby(['Company Id','Type of Meal']).agg(
    {'Meal Price':np.mean}
)

                               Meal Price
Company Id       Type of Meal
36MFTZOYMTAJP1RK Breakfast     440.000000
                 Dinner        474.000000
                 Lunch         532.666667
7RVA8TIVBLBXMNO4 Breakfast     259.000000
                 Dinner        209.000000
                 Lunch         298.000000
H3JRC7XX7WJAD4ZO Breakfast     433.000000
                 Dinner        588.000000
                 Lunch         355.000000
HB25MDZR0MGCQUGX Breakfast     390.833333
                 Dinner        377.000000
                 Lunch         457.400000
LJKS5NK6788CYMUU Breakfast     469.000000
                 Dinner        163.750000
                 Lunch         502.000000

**Pivot**

In [21]:
pd.pivot_table(
    invoices,
    index=['Company Id','Type of Meal'],
    values='Meal Price',
    aggfunc=np.mean,
    margins=True
)

                               Meal Price
Company Id       Type of Meal
36MFTZOYMTAJP1RK Breakfast     440.000000
                 Dinner        474.000000
                 Lunch         532.666667
7RVA8TIVBLBXMNO4 Breakfast     259.000000
                 Dinner        209.000000
                 Lunch         298.000000
H3JRC7XX7WJAD4ZO Breakfast     433.000000
                 Dinner        588.000000
                 Lunch         355.000000
HB25MDZR0MGCQUGX Breakfast     390.833333
                 Dinner        377.000000
                 Lunch         457.400000
LJKS5NK6788CYMUU Breakfast     469.000000
                 Dinner        163.750000
                 Lunch         502.000000
All                            395.411765

In [22]:
pd.pivot_table(
    invoices,
    index=['Company Id'],
    columns=['Type of Meal'],
    values='Meal Price',
    aggfunc=np.mean,
    margins=True
)

Type of Meal       Breakfast  Dinner       Lunch         All
Company Id
36MFTZOYMTAJP1RK  440.000000  474.00  532.666667  490.615385
7RVA8TIVBLBXMNO4  259.000000  209.00  298.000000  243.142857
H3JRC7XX7WJAD4ZO  433.000000  588.00  355.000000  424.222222
HB25MDZR0MGCQUGX  390.833333  377.00  457.400000  409.333333
LJKS5NK6788CYMUU  469.000000  163.75  502.000000  304.000000
All               395.578947  320.00  461.764706  395.411765

**Stack/Unstack**

In [25]:
temp=invoices.groupby(['Company Id','Type of Meal','Heroes Adjustment']).agg({'Meal Price':np.mean})
temp

                                                 Meal Price
Company Id       Type of Meal Heroes Adjustment
36MFTZOYMTAJP1RK Breakfast    False              440.000000
                 Dinner       False              474.000000
                 Lunch        False              532.666667
7RVA8TIVBLBXMNO4 Breakfast    False              259.000000
                 Dinner       False              209.000000
                 Lunch        False              298.000000
H3JRC7XX7WJAD4ZO Breakfast    False              433.000000
                 Dinner       False              588.000000
                 Lunch        False              355.000000
HB25MDZR0MGCQUGX Breakfast    False              390.833333
                 Dinner       False              377.000000
                 Lunch        False              457.400000
LJKS5NK6788CYMUU Breakfast    False              469.000000
                 Dinner       False              163.750000
                 Lunch        False              502.000000

In [26]:
temp.unstack(level='Type of Meal')

                                    Meal Price
Type of Meal                         Breakfast  Dinner       Lunch
Company Id       Heroes Adjustment
36MFTZOYMTAJP1RK False              440.000000  474.00  532.666667
7RVA8TIVBLBXMNO4 False              259.000000  209.00  298.000000
H3JRC7XX7WJAD4ZO False              433.000000  588.00  355.000000
HB25MDZR0MGCQUGX False              390.833333  377.00  457.400000
LJKS5NK6788CYMUU False              469.000000  163.75  502.000000

In [27]:
stack_test = invoices.groupby(['Company Id','Type of Meal']).agg({
    'Meal Price':[max,min,np.mean],
    'Date of Meal':[max,min],
})
stack_test

                              Meal Price  ...               Date of Meal
                                     max  ...                        min
Company Id       Type of Meal             ...
36MFTZOYMTAJP1RK Breakfast         755.0  ...  2014-05-07 09:00:00+02:00
                 Dinner            708.0  ...  2016-01-14 22:00:00+01:00
                 Lunch             829.0  ...  2015-05-18 13:00:00+02:00
7RVA8TIVBLBXMNO4 Breakfast         386.0  ...  2014-04-06 07:00:00+02:00
                 Dinner            389.0  ...  2015-07-07 20:00:00+02:00
                 Lunch             298.0  ...  2018-10-15 14:00:00+02:00
H3JRC7XX7WJAD4ZO Breakfast         664.0  ...  2014-02-01 08:00:00+01:00
                 Dinner            588.0  ...  2015-01-06 22:00:00+01:00
                 Lunch             552.0  ...  2014-08-09 12:00:00+02:00
HB25MDZR0MGCQUGX Breakfast         749.0  ...  2015-01-07 07:00:00+01:00
                 Dinner            633.0  ...  2014-09-26 20:00:00+02:00
                 Lunch             596.0  ...  2016-05-14 12:00:00+02:00
LJKS5NK6788CYMUU Breakfast         469.0  ...  2016-05-31 07:00:00+02:00
                 Dinner            438.0  ...  2014-04-07 21:00:00+02:00
                 Lunch             690.0  ...  2014-08-23 14:00:00+02:00

[15 rows x 5 columns]

In [28]:
stack_test.stack()

                                                 Date of Meal  Meal Price
Company Id       Type of Meal
36MFTZOYMTAJP1RK Breakfast    max   2018-07-27 08:00:00+02:00  755.000000
                              mean                        NaN  440.000000
                              min   2014-05-07 09:00:00+02:00  210.000000
                 Dinner       max   2017-05-24 22:00:00+02:00  708.000000
                              mean                        NaN  474.000000
                              min   2016-01-14 22:00:00+01:00  263.000000
                 Lunch        max   2018-12-20 12:00:00+01:00  829.000000
                              mean                        NaN  532.666667
                              min   2015-05-18 13:00:00+02:00   27.000000
7RVA8TIVBLBXMNO4 Breakfast    max   2017-09-29 08:00:00+02:00  386.000000
                              mean                        NaN  259.000000
                              min   2014-04-06 07:00:00+02:00  159.000000
                 Dinner       max   2017-08-23 21:00:00+02:00  389.000000
                              mean                        NaN  209.000000
                              min   2015-07-07 20:00:00+02:00  104.000000
                 Lunch        max   2018-10-15 14:00:00+02:00  298.000000
                              mean                        NaN  298.000000
                              min   2018-10-15 14:00:00+02:00  298.000000
H3JRC7XX7WJAD4ZO Breakfast    max   2017-07-13 08:00:00+02:00  664.000000
                              mean                        NaN  433.000000
                              min   2014-02-01 08:00:00+01:00  191.000000
                 Dinner       max   2015-01-06 22:00:00+01:00  588.000000
                              mean                        NaN  588.000000
                              min   2015-01-06 22:00:00+01:00  588.000000
                 Lunch        max   2018-01-19 13:00:00+01:00  552.000000
                              mean                        NaN  355.000000
                              min   2014-08-09 12:00:00+02:00   98.000000
HB25MDZR0MGCQUGX Breakfast    max   2017-01-11 08:00:00+01:00  749.000000
                              mean                        NaN  390.833333
                              min   2015-01-07 07:00:00+01:00   44.000000
                 Dinner       max   2018-02-12 20:00:00+01:00  633.000000
                              mean                        NaN  377.000000
                              min   2014-09-26 20:00:00+02:00   71.000000
                 Lunch        max   2018-10-16 12:00:00+02:00  596.000000
                              mean                        NaN  457.400000
                              min   2016-05-14 12:00:00+02:00  372.000000
LJKS5NK6788CYMUU Breakfast    max   2016-05-31 07:00:00+02:00  469.000000
                              mean                        NaN  469.000000
                              min   2016-05-31 07:00:00+02:00  469.000000
                 Dinner       max   2018-10-01 20:00:00+02:00  438.000000
                              mean                        NaN  163.750000
                              min   2014-04-07 21:00:00+02:00   14.000000
                 Lunch        max   2015-07-27 14:00:00+02:00  690.000000
                              mean                        NaN  502.000000
                              min   2014-08-23 14:00:00+02:00  314.000000

**Melt**

In [23]:
melt_experiment = pd.merge(
    invoices,
    pd.get_dummies(invoices['Type of Meal']).mul(invoices['Meal Price'].values,axis=0),
    left_index=True,
    right_index=True
)
del melt_experiment['Type of Meal']
del melt_experiment['Meal Price']
melt_experiment

            Order Id        Date           Meal Id  ... Breakfast Dinner  Lunch
0   839FKFW2LLX4LMBB  2016-05-27  INBUX904GIHI8YBD  ...     469.0    0.0    0.0
1   97OX39BGVMHODLJM  2018-09-27  J0MMOOPP709DIDIE  ...       0.0   22.0    0.0
2   041ORQM5OIHTIU6L  2014-08-24  E4UJLQNCI16UX5CS  ...       0.0    0.0  314.0
3   YT796QI18WNGZ7ZJ  2014-04-12  C9SDFHF7553BE247  ...       0.0  438.0    0.0
4   6YLROQT27B6HRF4E  2015-07-28  48EQXS6IHYNZDDZ5  ...       0.0    0.0  690.0
5   AT0R4DFYYAFOC88Q  2014-07-21  W48JPR1UYWJ18NC6  ...       0.0  181.0    0.0
6   2DDN2LHS7G85GKPQ  2014-04-29  1MKLAKBOE3SP7YUL  ...       0.0   14.0    0.0
7   FM608JK1N01BPUQN  2014-05-08  E8WJZ1FOSKZD2MJN  ...     320.0    0.0    0.0
8   CK331XXNIBQT81QL  2015-05-23  CTZSFFKQTY7SBZ4J  ...       0.0    0.0  697.0
9   FESGKOQN2OZZWXY3  2016-01-10  US0NQYNNHS1SQJ4S  ...       0.0  451.0    0.0
10  YITOTLOF0MWZ0VYX  2016-10-03  RGYX8772307H78ON  ...       0.0  263.0    0.0
11  8RIGCF74GUEQHQEE  2018-07-23  5XK0KTFTD6OAP9ZP  ...     210.0    0.0    0.0
12  TH60C9D8TPYS7DGG  2016-12-15  KDSMP2VJ22HNEPYF  ...     755.0    0.0    0.0
13  W1Y086SRAVUZU1AL  2017-09-17  8IUOYVS031QPROUG  ...       0.0    0.0  469.0
14  WKB58Q8BHLOFQAB5  2016-08-31  E2K2TQUMENXSI9RP  ...       0.0    0.0  502.0
15  N8DOG58MW238BHA9  2018-12-25  KFR2TAYXZSVCHAA2  ...       0.0    0.0  829.0
16  DPDV9UGF0SUCYTGW  2017-05-25  6YV61SH7W9ECUZP0  ...       0.0  708.0    0.0
17  KNF3E3QTOQ22J269  2018-06-20  737T2U7604ABDFDF  ...     475.0    0.0    0.0
18  LEED1HY47M8BR5VL  2017-10-22  I22P10IQQD06MO45  ...       0.0    0.0   27.0
19  LSJPNJQLDTIRNWAL  2017-01-27  247IIVNN6CXGWINB  ...       0.0    0.0  672.0
20  6UX5RMHJ1GK1F9YQ  2014-08-24  LL4AOPXDM8V5KP5S  ...       0.0    0.0  552.0
21  5SYB15QEFWD1E4Q4  2017-07-09  KZI0VRU30GLSDYHA  ...     191.0    0.0    0.0
22  W5S8VZ61WJONS4EE  2017-03-25  XPSPBQF1YLIG26N1  ...     471.0    0.0    0.0
23  795SVIJKO8KS3ZEL  2015-01-05  HHTLB8M9U0TGC7Z4  ...       0.0  588.0    0.0
24  8070KEFYSSPWPCD0  2014-08-05  VZ2OL0LREO8V9RKF  ...       0.0    0.0   98.0
25  RUQOHROBGBOSNUO4  2016-06-10  R3LFUK1WFDODC1YF  ...     516.0    0.0    0.0
26  6P91QRADC2O9WOVT  2016-09-25  L2F2HEGB6Q141080  ...     664.0    0.0    0.0
27  AV70ZTPG7WYIZBHM  2014-01-30  I1UBHXL9U2FK61GV  ...     323.0    0.0    0.0
28  N8DEX5RIZLY2TN9S  2018-01-21  O2LFIKLLHXXTWEZL  ...       0.0    0.0  415.0
29  C06H3L3ZMTPHZYE7  2014-09-28  V7V5MTWB9PF1FKXA  ...       0.0   71.0    0.0
30  S35Y2T41PETM02Z8  2015-01-25  A4EXCDB8JKPP89BZ  ...     400.0    0.0    0.0
31  4P0WQVUN6E5EGYWK  2016-06-12  2ZNP8ZT9WQV957DX  ...       0.0  633.0    0.0
32  F7RNUHMDYQS2OS3S  2016-05-12  D7AKDKNIW811YY9Y  ...       0.0    0.0  408.0
33  E2XFDVKEKUIWPXY9  2018-02-09  XZIY1E85QWMBMVAL  ...       0.0  326.0    0.0
34  BUP7RCDWVHJWMFQ8  2018-10-20  GELORXKSJ0858HUW  ...       0.0    0.0  596.0
35  FIF56JW8NB30A7H6  2015-08-16  B684C6LB23S0A2IW  ...     486.0    0.0    0.0
36  1SLO340LG6K3VM71  2015-01-03  40UIN6MOZ2GO7O93  ...     749.0    0.0    0.0
37  4W2R0J2IM1I7A8NN  2015-08-20  PE6INKVYMQ7APCU7  ...     325.0    0.0    0.0
38  0VQEIQ6KSX6VZD08  2014-11-24  RB17KLQH1ISEQSCJ  ...       0.0  478.0    0.0
39  EJG2RJHF1KWL9B8Q  2015-08-23  6QO7ZW8K1RU6LCH1  ...      44.0    0.0    0.0
40  H944X2A26P5INPIK  2016-12-12  JG5Y13KLV8D8PNIL  ...       0.0    0.0  468.0
41  CPCL6LVOZUKO5THR  2017-02-19  HCF69NG6CBDGFL90  ...       0.0    0.0  372.0
42  9WQ7292N2B1KV69M  2018-03-26  5MBOATDVPWZKX8VY  ...       0.0    0.0  443.0
43  H0WAISJM9ZM951EF  2017-01-08  WTH3HFYBXE8CAB83  ...     341.0    0.0    0.0
44  S1R4AUBCH6BFGM52  2017-08-19  5N6PDX8PUFSZK1FJ  ...       0.0  104.0    0.0
45  6ODHUV6OBRPAUYTX  2015-07-11  6P94O9D87WVBRKDO  ...       0.0  389.0    0.0
46  AX56I4Q2LLODK7MW  2017-09-27  P17XPOJHVSOZZC2S  ...     159.0    0.0    0.0
47  RWOML79PI4SYCW5Q  2014-04-07  NE2TYD3CUZNL4EPQ  ...     232.0    0.0    0.0
48  I7AGDMJYVJWSJHGC  2016-11-04  1P4HRU5HFZVB52Q5  ...       0.0  134.0    0.0
49  6PB6DUI45YAXQW9A  2018-10-11  NJOAEIP2G2O6HT6F  ...       0.0    0.0  298.0
50  MLG5A3GGB5XBONG9  2015-06-26  FQA6TDI7O36OJSTQ  ...     386.0    0.0    0.0

[51 rows x 10 columns]

In [24]:
pd.melt(
    frame=melt_experiment,
    id_vars=['Order Id', 'Date', 'Meal Id', 'Company Id', 'Date of Meal','Participants', 'Heroes Adjustment'],
    value_vars=['Breakfast', 'Dinner', 'Lunch'],
    var_name='Type of Meal',
    value_name='Expenses'
)

             Order Id        Date  ... Type of Meal Expenses
0    839FKFW2LLX4LMBB  2016-05-27  ...    Breakfast    469.0
1    97OX39BGVMHODLJM  2018-09-27  ...    Breakfast      0.0
2    041ORQM5OIHTIU6L  2014-08-24  ...    Breakfast      0.0
3    YT796QI18WNGZ7ZJ  2014-04-12  ...    Breakfast      0.0
4    6YLROQT27B6HRF4E  2015-07-28  ...    Breakfast      0.0
..                ...         ...  ...          ...      ...
148  AX56I4Q2LLODK7MW  2017-09-27  ...        Lunch      0.0
149  RWOML79PI4SYCW5Q  2014-04-07  ...        Lunch      0.0
150  I7AGDMJYVJWSJHGC  2016-11-04  ...        Lunch      0.0
151  6PB6DUI45YAXQW9A  2018-10-11  ...        Lunch    298.0
152  MLG5A3GGB5XBONG9  2015-06-26  ...        Lunch      0.0

[153 rows x 9 columns]